<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple database example</title>
</head>
<body>

    <h1>Enter the Guess Number</h1>

    {% if user %}
        <p>Hello {{user.name}}</p>
        <p>This is your email address: {{user.email}}</p>

        <a href="/logout" title="Logout">Logout</a>
    {% else %}
        <form method="post" action="/login">
           <input type="numero secreto" name="secret-number" placeholder="Enter your guess number"><br>

            <button>Submit</button>
        </form>
    {% endif %}

</body>
</html>